<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Praxis", suffix: " · Patient Management" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="flex flex-col h-full pt-32 bg-gray-100">
  <section class="min-h-screen bg-gray-50" x-data="{ sideBar: false }">
      <nav
        class="fixed top-0 left-0 z-20 h-full pb-10 overflow-x-hidden overflow-y-auto transition origin-left transform bg-gray-900 w-60 md:translate-x-0"
        :class="{ '-translate-x-full' : !sideBar, 'translate-x-0' : sideBar }"
        @click.away="sideBar = false"
      >
        <a href="/" title="Praxis Home Page" class="flex items-center text-xl text-gray-900">
          Praxis Management
        </a>
      </nav>
    <div class="ml-0 transition md:ml-60">
    <header class="flex items-center justify-between w-full px-4 h-14">
      <div class="container flex items-center justify-between mx-auto">
        <a href="/" title="Praxis Home Page" class="flex items-center text-xl text-gray-900">
          Praxis Management
        </a>
        <div class="flex items-center space-x-1">
          <div class="hidden md:inline-flex space-x-1">
            <%= link "Home", to: Routes.page_path(@conn, :index), class: "btn btn-sm btn-link" %>
            <%= link "Patients", to: Routes.patient_index_path(@conn, :index), class: "btn btn-sm btn-link" %>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "btn btn-sm btn-link" %>
            <% end %>
          </div>
          <%= render "_user_menu.html", assigns %>
          <div class="inline-flex md:hidden" x-data="{ open: false }">
            <button class="flex-none px-2 btn btn-link btn-sm" @click="open = true">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
                >
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
              </svg>
              <span class="sr-only">Open Menu</span>
            </button>
            <div class="absolute top-0 left-0 right-0 z-50 flex flex-col p-2 pb-4 m-2 bg-white rounded shadow space-y-3" x-show.transition="open" @click.away="open = false" x-cloak>
              <button class="self-end flex-none px-2 ml-2 btn btn-link btn-icon" @click="open = false">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  aria-hidden="true"
                  >
                  <line x1="18" y1="6" x2="6" y2="18"></line>
                  <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
                <span class="sr-only">Close Menu</span>
              </button>
              <%= link "Home", to: Routes.page_path(@conn, :index), class: "btn btn-link w-full" %>
              <%= link "Patients", to: Routes.patient_index_path(@conn, :index), class: "btn btn-sm btn-link" %>
              <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "btn btn-link w-full" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="p-4">
      <%= @inner_content %>
    </div>
    </div>
    <!-- Sidebar Backdrop -->
    <div class="fixed inset-0 z-10 w-screen h-screen bg-black bg-opacity-25 md:hidden" x-show.transition="sideBar" x-cloak></div>
    </section>
  </body>
</html>
